{% extends "base.html" %}

{% block content %}

    <center>
        <h1>Add a Blog Entry</h1>
    </center>
    
    <form method='post'>
        <label>
            Title for your new blog:
            <br/>
            <input type="text" name='title' />
        </label>
        <!-- Can I triple line break by changing height or using a different tag? -->
        <br/> 
        <br/> 
        <br/> 
        <label>
            Your new blog:
            <br/>
            <textarea rows="7" cols="30">
            </textarea>
        </label>
        <br/>
        <br/>
        <br/>
        <input type="submit" value='Add Entry' />
    </form>
{% endblock %}